@use "../SASS/" as *;

body {
  background-color: $background;
  margin: 0;
  div#root {
    h1 {
      font-family: $logo-font;
      color: $main;
    }
    h2 {
      font-family: $serif-font;
      color: $button-dark;
    }
    p {
      font-family: $sans-font;
      color: $fontcolor;
    }
  }
}

