@use "../../../SASS/" as *;

main.read-page {
    width: 80%;
    margin: auto;

    h1.read-page-title {
        text-align: center;
        color: $fontcolor !important;
        margin: 100px 0;
        font-size: 3rem;
    }
    p.read-page-genres {
        text-align: center;
    }

    section.read-page-section {
        background-color: $background-dark;
        position: relative;
        width: 70%;
        max-height: 900px;
        padding: 100px 0 0 0;
        margin: 50px auto;
        @include shadow;

        section.read-page-text {
            height: 95%;

            .read-page-text-html {
                width: 100%;
            }
        }

        section.read-page-select {
            display: flex;
            height: 5%;
            padding: 20px;
            margin: 0;
            justify-content: center;

            button.read-page-select-button {
                background-color: transparent;
                border: none;
                color: $fontcolor;
                font-weight: bold;
            }

            button.read-page-select-button:hover {
                cursor: pointer;
                color: $main;
                transform: scale(1.1);
            }
        }

        p.read-page-prompt {
            padding: 10px 80px 10px 93px;
            font-family: $serif-font !important;
        }

        div.read-page-contribution {
            display: flex;
            padding: 10px 80px 10px 40px;
            align-items: center;

            p.read-page-contribution-name {
                opacity: 0;
                writing-mode: vertical-rl;
            }

            p {
                font-family: $serif-font !important;
            }
        }
        .read-page-favourite {
            border: none;
            @include shadow;
            width: 40px;
            height: 80px;
            position: absolute;
            top: 0;
            right: 0;

            img {
                max-height: 20px;
                width: auto;
            }
        }
        .read-page-favourite:hover {
            background-color: $main;
            transform: scale(1.05);
        }

        .read-page-unfavourite {
            border: none;
            @include shadow;
            width: 40px;
            height: 80px;
            background-color: $main;
            position: absolute;
            top: 0;
            right: 0;

            img {
                max-height: 20px;
                width: auto;
            }
        }
        .read-page-unfavourite:hover {
            background-color: $button-color;
            transform: scale(1.05);
        }
    }

    @media (min-width: 800px) {
        div.read-page-contribution:hover {
            background-color: $main;
            transform: scaleX(1.02);
            padding: 20px 25px;
            transition: all 100ms ease-in-out;

            p {
                color: $fontcolor-dark !important;
                font-weight: bold;
                margin: 0;
            }

            p.read-page-contribution-name {
                color: $fontcolor-dark;
                opacity: 1 !important;
                padding-right: 15px;
                margin: 0;
            }

            p.read-page-contribution-text {
                border-left: 2px solid $break-line-dark;
                padding-left: 50px;
            }
        }
    }

    @media (max-width: 1260px) {
        h1.read-page-title {
            font-size: 1.5rem;
        }

        section.read-page-section {
            width: 90%;

            div.read-page-contribution {
                padding: 10px 40px 10px 10px;
            }

            p.read-page-prompt {
                padding: 10px 23px 10px 63px;
            }
        }
    }

    @media (max-width: 800px) {
        section.read-page-section {
            p.read-page-prompt {
                padding: 10px 40px 10px 23px;
            }
        }
    }

    section.read-page-buttons {
        display: flex;
        width: 50%;
        align-items: center;
        margin: 50px auto;
        justify-content: space-around;

        .read-page-button {
            @include main-button;
            @include shadow;
            text-decoration: none;
            color: $fontcolor-darker;
            font-size: 1rem;
        }

        .read-page-button:hover {
            background-color: $main;
            transform: scale(1.05);
        }
    }

    @media (max-width: 800px) {
        section.read-page-section {
            width: 100%;

            div.read-page-contribution {
                padding: 10px 25px 10px 25px;
            }

            p.read-page-contribution-name {
                display: none;
            }
        }

        section.read-page-buttons {
            width: 100%;
            a {
                font-size: 1rem !important;
            }
        }
    }
}

@media (max-width: 800px) {
    main.read-page {
        width: 95%;
    }
}
