@use "../../../SASS/" as *;

main.home-page{
    h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 60vh;
        font-size: 5vw;
    }
    div {
        display: flex;
    }
    button.home-header-button {
        text-decoration: none;
        margin: 20px auto 0;
        padding: 10px 30px;
        border: none;
        border-radius: 50px;
        font-size: 24px;
        cursor: pointer;
        size: 2vw;
        font-size: 2vw;
      }
      a {
        text-decoration: none;
        color: $background-dark;
      }
      button:hover,
      button:focus {
        background-color: $main;
      }
    }