@use "../../../SASS/" as *;

main.home-page{
    h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 60vh;
        font-size: 5vw;
    }
    div {
        display: flex;
    }
    button.home-header-button {
        text-decoration: none;
        margin: 20px auto 0;
        padding: 10px 30px;
        margin-bottom: 5vh;
        border: none;
        border-radius: 50px;
        font-size: 24px;
        cursor: pointer;
        size: 2vw;
        font-size: 2vw;
      }
      a {
        text-decoration: none;
        color: $background-dark;
      }
      button:hover,
      button:focus {
        background-color: $main;
        
      }
      .card-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        
        .card {
          width: calc(20% - 20px); // Adjust the width as needed
          text-align: center;
          padding: 20px;
          background-color: $background-dark; // Card background color
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          height: 25vh;
          
          i {
            font-size: 24px; // Adjust the icon size as needed
            margin-bottom: 10px;
          }
          
          p {
            font-size: 14px; // Adjust the text size as needed
            color: $fontcolor;
          }
        }
      }
      
      
    }