@use "../../../SASS/" as *;

body {
  background-color: $background;
  margin: 0;
}

main.home-page {
  margin-bottom: 20px;
  background-color: $background;

  header.home-page-header {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .home-page-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;

    img {
      width: 40vw;
    }

    .home-page-login {
      text-decoration: none;
      margin: 0 1rem;
      padding: 0.7rem 1.5rem;
      border: none;
      border-radius: 50px;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    button:hover,
    button:focus {
      background-color: $main;
    }
  }
  div.main-header-container {
    display: inline-block;
  }
  h1.main-header {
    color: $fontcolor;
    font-size: 5vw;
    text-align: center;
    margin-top: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button.home-header-button {
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  a {
    text-decoration: none;
    color: $background-dark;
  }

  button:hover,
  button:focus {
    transform: scale(1.05);
    background-color: $button-hover;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .card {
    width: calc(20% - 20px);
    text-align: center;
    padding: 20px;
    background-color: $background-dark;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    transition: all 0.3s ease;
    margin-bottom: 20px;

    img {
      width: 200px;
      height: auto;
      margin-bottom: auto;
    }

    p {
      font-size: 18px;
      font-weight: bold;
      color: $fontcolor;
      margin-bottom: 50px;
    }

    &:hover {
      transform: scale(1.05);
      background-color: $button-hover;
    }
    &:hover p {
      color: $background-dark;
    }

    @media (max-width: 768px) {
      width: calc(40% - 20px);
    }

    @media (max-width: 480px) {
      width: calc(100% - 20px);
    }
  }
  h1.popular-header {
    width: 100%;
    text-align: center;
    font-size: 4vh;
    color: $fontcolor;
    padding-bottom: 2rem;
  }

  .popular-section {
    background-color: $background-dark;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .popular-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 10px;
      margin-top: 20px;
      padding-bottom: 20px;
    }

    .popular-card {
      text-align: center;
      margin: 20px;
      border-radius: 10px;
      height: 40vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: all 0.3s ease;
      cursor: pointer;

      img {
        width: 200px;
        height: auto;
        margin-bottom: auto;
      }

      p {
        font-size: 18px;
        font-weight: bold;
        color: $fontcolor;
        margin-bottom: 50px;
      }
      &:hover {
        transform: scale(1.05);
      }
      &:hover p {
        color: $button-hover;
      }
    }
  }
  @media (max-width: 768px) {
    .popular-card {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 480px) {
    .popular-card {
      width: calc(100% - 20px);
    }
  }
  h2.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 20vh;
    font-size: 3vw;
    color: $fontcolor;
  }
}
