@use "../../../SASS/" as *;

body {
    div#root {
        main.dashboard-page {
            margin: 100px auto 100px auto;
            h1.dashboard-title {
                color: $fontcolor;
                font-family: $logo-font;
                font-size: 50px;
                font-weight: 500;
                text-align: center;
                margin: 50px auto;
            }

            section.section-profile-half {
                margin-bottom: 50px;
                div.flex-wrapper {
                    display: flex;
                }
            }

            section.section-profile {
                margin: auto;
                width: 80%;
                margin-bottom: 100px;

                div.flex-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: baseline;

                    section.section-profile-left {
                        width: 20%;
                        background-color: $background-light;
                        padding: 30px;
                        border-radius: 20px;
                        margin: 20px 0;
                        @include shadow;
                    }

                    section.section-profile-right {
                        margin: auto;
                        width: 60%;
                        background-color: $background-light;
                        padding: 30px;
                        border-radius: 20px;
                        @include shadow;
                    }
                    

                    @media (max-width: 760px) {
                        section.section-profile-left {
                            width: 90%;
                        }

                        section.section-profile-right {
                            width: 90%;
                        }
                    }
                }
            }

            section.section-title {
                padding: 50px;
                background-color: $background-dark;
                @include shadow;

                h2.book-prompt {
                    text-align: center;
                    font-size: 50px;
                    color: $fontcolor;
                }

                div.button-container {
                    display: flex;
                    justify-content: space-around;
                    
                    button.prompt-button {
                        @include main-button;
                        .link {
                            color: $fontcolor-darker;
                            text-decoration: none;
                        }
                    }

                    button.prompt-button:hover {
                        background-color: $main;
                        transform: scale(1.05);
                    }
                }
            }

            hr.no-margin {
                margin: 0;
            }

            @media (max-width: 800px) {
                section.section-profile {
                    width: 95%;
                }

                section.section-title {
                    padding: 20px;
                    h2.book-prompt {
                        text-align: left;
                        font-size: 1.5rem;
                    }
                }

                button.prompt-button {
                    line-height: 1rem;
                    font-size: 1rem !important;
                }
            }
        }
    }
}