@use "../../../SASS/" as *;

.legal-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: $background-dark;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include shadow;

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: $fontcolor !important;
  }

  h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: $fontcolor !important;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .toggle-btn {
    background-color: $background;
    color: $fontcolor;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    @include shadow;

    &:hover {
      background-color: $button-hover;
    }
  }

  .additional-info {
    display: none;
  }

  .additional-info.expanded {
    display: block;
  }
}
