@use "../../../SASS/" as *;

body {
  div#root {
    main.contact-page {
      margin: 100px auto;

      div.contact-wrapper {
        display: flex;
        margin: auto;
        width: 80vw;
        background-color: $background-dark;
        border-radius: 4 0px;
        box-sizing: border-box;
        color: $fontcolor;
        font-family: $sans-font;
        border-radius: 20px;
        @include shadow;

        div.social-media-container {
          background-color: $main;
          border-radius: 20px 0 0 20px;
          padding: 50px 0;
          width: 150px;

          ul.socials-list {
            height: auto;
            margin-right: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
              list-style: none;

              a {
                img {
                  height: 30px;
                  margin-bottom: 20px;
                }

                img:hover {
                  transform: scale(1.05);
                  border-radius: 150px;
                  @include shadow;
                }
              }
            }
          }
        }

        div.contact-container {
          width: 100%;
          padding: 50px 0;

          h2.contact-title {
            color: $fontcolor;
            font-family: $logo-font;
            font-size: 42px;
            font-weight: 500;
            text-align: center;
            margin: 0 auto 50px;
          }

          div.errors {
            width: 75%;
            margin: 0 auto;
            p.error-message {
              color: red;
              font-size: 25px;
            }
          }

          form {
            width: 75%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            div {
              display: flex;
              flex-direction: column;

              label {
                font-size: 20px;
                margin-bottom: 10px;
              }

              div {
                display: flex;
                flex-direction: row;

                img {
                  height: 30px;
                  margin-right: 20px;
                }

                input {
                  background-color: $background-dark;
                  border: none;
                  font-size: 24px;
                  width: 100%;
                  color: $fontcolor;
                }

                input:focus {
                  outline: none;
                  border-color: transparent;
                  border-bottom: 2px solid $main;
                }

                input::placeholder {
                  font-style: italic;
                  font-size: 20px;
                }
              }
              
              hr {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 20px;
              }
            }

            div.message {
              div.message-input {
                textarea {
                  width: 100%;
                  border: none;
                  background-color: $background-dark;
                  resize: vertical;
                  font-size: 20px;
                  color: $fontcolor;
                  font-family: $sans-font;
                }
                
                textarea:focus {
                  outline: none;
                  border-color: transparent;
                  border-bottom: 2px solid $main;
                }

                textarea::placeholder {
                  font-size: 20px;
                  font-style: italic;
                }
              }
            }

            button.contact-btn {
              @include main-button;
            }

            button:hover,
            button:focus {
              background-color: $main;
              transform: scale(1.05);
            }

            div.question {
              text-align: center;

              a {
                color: $main;
                margin: -15px auto 0;
                width: 50px;
                font-weight: bold;
              }
            }
          }
        }
      }

      div.contact-map {
        max-width: 500px;

        iframe {
          max-width: 500px;
          height: 100%;
          border-radius: 0 20px 20px 0;
          @include shadow;
          border: 1px solid $main;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  div.contact-wrapper {
    flex-wrap: wrap;

    div.social-media-container {
      width: 100px !important;
      border-radius: 20px 0 0 0 !important;
    }

    div.contact-container {
      width: 80% !important;
    }

    div.contact-map {
      width: 100%;
      max-width: 100% !important;
      
      iframe {
        height: 300px !important;
        border-radius: 0 0 20px 20px !important;
        width: 100%;
        max-width: 100% !important;
      }
    }
  }
}

@media (max-width: 700px) {
  div.contact-wrapper {
    div.social-media-container {
      display: none;
    }

    div.contact-container {
      width: 100% !important;
    }
  }
}
