@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
body div#root main.contact-page div.contact-wrapper {
  display: flex;
  margin: 100px auto 100px auto;
  max-width: 700px;
  background-color: #414042;
  border-radius: 4 0px;
  box-sizing: border-box;
  color: #ecf0f3;
  font-family: "Open Sans", sans-serif;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
body div#root main.contact-page div.contact-wrapper div.social-media-container {
  background-color: #ffbd59;
  border-radius: 50px 0 0 50px;
  padding: 50px 0;
  width: 350px;
}
body div#root main.contact-page div.contact-wrapper div.social-media-container h2.socials-title {
  color: #414042;
  font-family: "Fredoka", sans-serif;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto 50px;
}
body div#root main.contact-page div.contact-wrapper div.social-media-container ul.socials-list {
  height: auto;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div#root main.contact-page div.contact-wrapper div.social-media-container ul.socials-list li {
  list-style: none;
}
body div#root main.contact-page div.contact-wrapper div.social-media-container ul.socials-list li a img {
  height: 50px;
  margin-bottom: 40px;
}
body div#root main.contact-page div.contact-wrapper div.contact-container {
  width: 100%;
  padding: 50px 0;
}
body div#root main.contact-page div.contact-wrapper div.contact-container h2.contact-title {
  color: #ecf0f3;
  font-family: "Fredoka", sans-serif;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto 50px;
}
body div#root main.contact-page div.contact-wrapper div.contact-container div.errors {
  width: 75%;
  margin: 0 auto;
}
body div#root main.contact-page div.contact-wrapper div.contact-container div.errors p.error-message {
  color: red;
  font-size: 25px;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form div {
  display: flex;
  flex-direction: column;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form div label {
  font-size: 20px;
  margin-bottom: 10px;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form div div {
  display: flex;
  flex-direction: row;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form div div img {
  height: 30px;
  margin-right: 20px;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form div div input {
  background-color: #414042;
  border: none;
  font-size: 24px;
  width: 100%;
  color: #ecf0f3;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form div div input:focus {
  outline: none;
  border-color: transparent;
  border-bottom: 2px solid #ffbd59;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form div div input::-moz-placeholder {
  font-style: italic;
  font-size: 20px;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form div div input::placeholder {
  font-style: italic;
  font-size: 20px;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form div hr {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form button.contact-btn {
  margin: 20px auto 0;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  cursor: pointer;
  background-color: #ecf0f3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form button:hover,
body div#root main.contact-page div.contact-wrapper div.contact-container form button:focus {
  background-color: #ffbd59;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form div.question {
  text-align: center;
}
body div#root main.contact-page div.contact-wrapper div.contact-container form div.question a {
  color: #ffbd59;
  margin: -15px auto 0;
  width: 50px;
  font-weight: bold;
}/*# sourceMappingURL=contact.css.map */