//Background colors
$background: #545454;
$background-dark: #414042;
$background-light: #737373;
$break-line: #ecf0f3;
$break-line-dark: #949494;

//Main Color
$main: #ffbd59;

//Links & buttons
$button-dark: #414042;
$button-light: #ecf0f3;
$button-hover: #ffbd59;
$link: #ffffff;

//call to action color
$cta: #ffbd59;

$fontcolor: #ecf0f3;
