@use "../../../SASS/" as *;

body.store-page-body {
  background-color: $background;
}
h1.store-page-titel {
  font-size: 50px;
  font-weight: 500;
  margin: 50px auto;
  display: flex;
  text-align: center;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $fontcolor !important;
}
div.store-search-bar {
  display: flex;
  background-color: $background-dark;
  width: 230px;
  margin: 0 auto;
  padding: 0px 0px;
  border-radius: 170px;
  width: 65%;
  margin-bottom: 50px;
  margin-top: 50px;
  @include shadow;
  .store-searchbar-button {
    display: flex;
    justify-content: center;
    background-color: $background-dark;
    margin: 0;
    padding: 20px;
    border-radius: 100%;
    border: solid black;
    @include shadow;
    &:hover,
    &:focus {
      background-color: $button-hover;
      border: solid black;
    }
  }

  input {
    background-color: $background-dark;
    border: none;
    border-radius: 200px;
    width: 85%;
    font-size: 30px;
    margin: 0 auto;
    color: $fontcolor;
    padding-left: 30px;
  }
  input:focus {
    outline: none;
    border-color: transparent;
    text-decoration: underline $button-hover;
    text-decoration-thickness: 2px;
  }
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  input::placeholder {
    font-style: italic;
    font-size: 30px;
    margin-left: 20px;
  }
  img {
    height: 40px;
    margin: auto 0;
  }
}
section.showcase-section {
  h2.showcase-title {
    font-family: $sans-font;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    font-size: 46px;
  }
}
div.book-store-showcase1 {
  margin: 0 auto;
  width: 90%;
}
div.book-store-showcase2 {
  margin: 0 auto;
  width: 90%;
}

@media screen and (max-width: 1024px) {
  body {
    div#root {
      div.store-page-body {
        div.store-page-banner {
          h1.store-page-titel {
            font-size: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 790px) {
  body {
    div#root {
      div.store-page-body {
        div.store-page-banner {
          h1.store-page-titel {
            font-size: 30px;
          }
        }
      }
    }
  }
}
