@use "../../../SASS/" as *;

div.search-bar {
  display: flex;
  background-color: $background-dark;
  width: 230px;
  margin: 0 auto;
  padding: 0px 0px;
  border-radius: 170px;
  width: 65%;
  margin-bottom: 50px;
  margin-top: 50px;
  @include shadow;
  .searchbar-button {
    display: flex;
    justify-content: center;
    background-color: $background-dark;
    margin: 0;
    padding: 20px;
    border-radius: 100%;
    border: solid $background;
    @include shadow;
    &:hover,
    &:focus {
      background-color: $button-hover;
      border: solid $background-dark;
      cursor: pointer;
    }
  }

  input {
    background-color: $background-dark;
    border: none;
    border-radius: 200px;
    width: 85%;
    font-size: 30px;
    margin: 0 auto;
    color: $fontcolor;
    padding-left: 30px;
  }
  input:focus {
    outline: none;
    border-color: transparent;
    text-decoration: underline $button-hover;
    text-decoration-thickness: 2px;
  }
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  input::placeholder {
    font-style: italic;
    font-size: 30px;
    margin-left: 20px;
  }
  img {
    height: 40px;
    margin: auto 0;
  }
}
div.search-buttons {
  margin: 20px;
  ul.buttons-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
    button {
      padding: 10px 20px;
      background-color: $button-light;
      border: none;
      margin: 5px;
      border-radius: 5px;
    }
    button:hover {
      background-color: $main;
      @include shadow;
    }
    button:active {
      box-shadow: none;
      background-color: $background;
      border: 1px solid $fontcolor;
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    div.search-bar {
      width: 600px;
      height: 50px;
      input {
        font-size: 24px;
      }
      input::placeholder {
        font-size: 24px;
      }
      div.button-div {
        button.searchbar-button {
          height: 50px;
          width: 50px;
          img {
            height: 25px;
            margin-top: -9px;
          }
        }
      }
    }
    div.search-buttons {
      ul.buttons-list {
        button {
          padding: 5px 10px;
          margin: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 790px) {
  body {
    div.search-bar {
      width: 370px;
      height: 30px;
      input {
        font-size: 24px;
      }
      input::placeholder {
        font-size: 24px;
      }
      div.button-div {
        button.searchbar-button {
          height: 30px;
          width: 30px;
          margin-top: -10px;
          img {
            height: 15px;
            margin-top: -6px;
          }
        }
      }
    }
    div.search-buttons {
      ul.buttons-list {
        button {
          padding: 5px 10px;
          margin: 2px;
          cursor: pointer;
          button:hover,
          button:focus {
            transform: scale(1.05);
            background-color: $button-hover;
        }
      }
    }
  }
}
