@use "../../../SASS/" as *;

.favourite-button {
    border: none;
    @include shadow;
    width: 40px;
    height: 80px;
    position: absolute;
    top: -2px;
    right: 20px;
}

.favourite {
    background-color: $main;
}

.favourite:hover {
    background-color: $fontcolor;
    transform: scale(1.05);
}

.unfavourite {
    background-color: $fontcolor;
}

.unfavourite:hover {
    background-color: $main;
    transform: scale(1.05);
}

.favourite-image {
    max-height: 20px;
    width: auto;
}