@use "../../../SASS/" as *;

.favourite-button {
  border: none;
  @include shadow;
  width: 40px;
  height: 80px;
  position: absolute;
  top: -2px;
  right: 20px;
}

.favourite {
  background-color: $main;
}

.favourite:hover {
  background-color: $fontcolor;
  border: solid $background-dark;
  cursor: pointer;
  transform: scale(1.1);
}

.unfavourite {
  background-color: $fontcolor;
}

.unfavourite:hover {
  background-color: $main;
  border: solid $background-dark;
  cursor: pointer;
  transform: scale(1.1);
}

.favourite-image {
  max-height: 20px;
  width: auto;
}
