@use "../../../SASS/" as *;

body {
  div#root {
    main.aboutUs {
      section.about {
        background-color: $background-light;
        margin-top: 50px;
        padding: 50px 0;
        @include shadow;
        h1 {
          margin: 0;
          color: $fontcolor;
          font-family: $logo-font;
          font-size: 42px;
          font-weight: 500;
          text-align: center;
          margin-bottom: 40px;
        }
        p {
          width: 1024px;
          margin: 0 auto;
          font-size: 20px;
          a {
            color: $main;
            font-weight: bold;
          }
        }
      }
      section.our-mission {
        display: flex;
        justify-content: center;
        article {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 40%;
          box-sizing: border-box;
          padding: 20px;
          background-color: $background-light;
          border-radius: 20px;
          height: 420px;
          margin: auto 0;
          box-sizing: border-box;
          @include shadow;
          h1 {
            font-size: 42px;
            font-weight: 500;
            color: $fontcolor;
            margin: 0;
            margin-bottom: 40px;
          }
          p {
            margin: 0;
            font-size: 20px;
          }
        }
        div.images {
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 10px;
          overflow: hidden;
          padding: 30px;
          margin: 50px 0;
          img.typewritter {
            border-radius: 10px;
            height: 200px;
            grid-column: span 6;
            grid-row: span 1;
            object-fit: cover;
            @include shadow;
          }
          img.laptop {
            border-radius: 10px;
            height: 200px;
            width: 200px;
            grid-column: span 6;
            grid-row: span 1;
            object-fit: cover;
            @include shadow;
          }
          img.authors {
            border-radius: 10px;
            height: 200px;
            width: 420px;
            grid-column: span 12;
            grid-row: span 1;
            object-fit: cover;
            @include shadow;
          }
        }
      }
      section.meet-our-team {
        @include shadow;
        background-color: $background-light;
        box-sizing: border-box;
        padding: 50px 0;
        h1 {
          margin: 0;
          color: $fontcolor;
          font-family: $logo-font;
          font-size: 42px;
          font-weight: 500;
          text-align: center;
          margin-bottom: 40px;
        }
        div.portraits {
          display: flex;
          justify-content: space-around;
          width: 80%;
          margin: 0 auto;
          div.portrait {
            img {
              height: 150px;
              object-fit: contain;
              border-radius: 150px;
              @include shadow;
            }
            p {
              font-size: 25px;
              text-align: center;
            }
            div.social-media-links {
              display: flex;
              justify-content: center;
              gap: 10px;
              margin-top: -20px;
              a {
                img {
                  height: 20px;
                  @include shadow;
                }
              }
            }
          }
        }
      }
    }
  }
}
